<mat-grid-list cols="1" rowHeight="100%">
  <mat-grid-tile>
    <div class="histogram">
      <h1 class="histogram__title">
        Histogram
      </h1>
      <div class="histogram__chart">
        <echarts [initOpts]="initOpts" [options]="options"></echarts>
      </div>
      <div class="histogram__button">
        <button mat-flat-button color="accent" (click)="downloadReport()">
          <mat-icon>file_download</mat-icon>
          Download report
        </button>
      </div>
    </div>

  </mat-grid-tile>
</mat-grid-list>


