.bottom-block{
  position: relative;

  .close-button{
    position: absolute;
    top: -25px;
    right: -10px;
  }

  .bottom-block__inner{
    display: flex;
    padding-bottom: 20px;

    .mat-form-field{
      width: 50%;

      & + .mat-form-field {
        margin-left: 8px;
      }
    }

    button{
      width: 50%;
      height: 50px;
      line-height: 50px;
      margin-left: 8px;
    }
  }

  .bottom-block__submit-block{
    padding: 25px 0;
    display: flex;
    justify-content: center;


  }
}

