<mat-nav-list>

  <div class="bottom-block">

    <button class="close-button" mat-icon-button color="accent" aria-label="" (click)="closeWindow($event)">
      <mat-icon>close</mat-icon>
    </button>

    <h3>
      Order process
    </h3>

    <div class="bottom-block__inner">
      <mat-form-field appearance="fill">
        <mat-label>Select your name</mat-label>
        <mat-select [(value)]="user">
          <mat-option value="John">John</mat-option>
          <mat-option value="Mark">Mark</mat-option>
          <mat-option value="Simon">Simon</mat-option>
          <mat-option value="Olivia">Olivia</mat-option>
          <mat-option value="Catrin">Catrin</mat-option>
        </mat-select>
        <mat-hint align="end">To don't lose your order</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Are you Boss?</mat-label>
        <mat-select [(value)]="priority">
          <mat-option value="10">No</mat-option>
          <mat-option value="1">Yes</mat-option>
        </mat-select>
        <mat-hint align="end">Boss is before other onces</mat-hint>
      </mat-form-field>
    </div>

    <div class="bottom-block__inner">
      <mat-form-field appearance="fill">
        <mat-label>Delay</mat-label>
        <mat-select [(value)]="delay">
          <mat-option value="1">Just now</mat-option>
          <mat-option value="10">10 min</mat-option>
        </mat-select>
        <mat-hint align="end">Select convenient time</mat-hint>
      </mat-form-field>
      <button mat-flat-button color="accent" [disabled]="!checkFields()" (click)="makeOrder($event)">
        ONE CUP PLEASE!
      </button>
    </div>

  </div>

</mat-nav-list>
