.order-block{

  .order-block__cups{
    div{
      padding: 15px;
      box-shadow: 0 0 15px #ccc;
      color: #666;
      margin-top: 15px;
      width: 230px;
      text-align: center;
      box-sizing: border-box;
      font-size: 12px;
    }
  }

  .order-block__button{
    padding: 15px 0;

    button {
      height: 50px;
      line-height: 50px;
      width: 230px;
    }
  }
}
