<mat-grid-list cols="1" rowHeight="100%">
  <mat-grid-tile>
    <div class="order-block">

      <div class="order-block__button">
        <button mat-flat-button color="accent" (click)="openBottomWindow()">
          <mat-icon>free_breakfast</mat-icon>
          GET CUP OF COFFEE
        </button>
      </div>

      <div class="order-block__cups" *ngIf="ordersList">
        <div *ngFor="let order of ordersList | keyvalue">
          Coffee for {{order.value.user}} is done!
        </div>
      </div>

    </div>
  </mat-grid-tile>
</mat-grid-list>
